@font-face{
  font-family: 'Regular';
  src: url(../resources/game/fonts/menu.ttf);
}

body{
  background-image: url(../resources/game/images/bgmenu.png);
  background-size: max(100vw, 1500px) max(900px, 100vh);
  background-position: left top;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
}

section{
  margin: 0px;
  padding: 0px;
}

#mycanvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.menu {
    display: none;
    position: absolute;
    top: 2vh;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Regular';
    font-weight: bold;
    color: #e8a668;
}

.title{
  top: max(10vh,1vw);
  height: 5%;
  position: relative;
  font-size: clamp(0.01vw,12rem,10vw);
  font-style: italic;
  text-shadow: max(0.2vw,0.01rem) min(-0.2vw,-0.05rem) 0 #526125,  min(-0.2vw,-0.05rem) max(0.2vw,0.05rem) 0 #526125,  min(-0.2vw,-0.05rem) min(-0.2vw,-0.05rem) 0 #526125,  max(0.2vw,0.05rem) max(0.2vw,0.05rem) 0 #526125;
  font-stretch: ultra-condensed;
  display: inline;
}

.buttonlist{
  top: max(10vh,2vw);
  position: relative;
  list-style: none;
  left: -10px;
}

.buttonendlist{
  position: relative;
  list-style: none;
  left: max(-5vh, -4vw);
  
}

.endtopbox{
  background-color: black;
  position: relative;
  bottom: 2vh;
  height: 20vh;
}

.loseimg{
  display: none;
  position:absolute;
  bottom: 10vh;
  left: max(32.5vw, 7vh);
  width: max(35vw, 25vh);
  height: min(50vw,55vh);
}

.endbottombox{
  display: block;
  background-color: black;
  background-position: bottom;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
}


.endmessage{
  top: max(5vh,0.5vw);
  height: 5%;
  position:relative;
  font-size: max(clamp(0.01vw,6rem,5vh), clamp(0.01vw,6rem,6vw));
  font-style: normal;
  text-shadow: max(0.2vw,0.01rem) min(-0.2vw,-0.05rem) 0 #526125,  min(-0.2vw,-0.05rem) max(0.2vw,0.05rem) 0 #526125,  min(-0.2vw,-0.05rem) min(-0.2vw,-0.05rem) 0 #526125,  max(0.2vw,0.05rem) max(0.2vw,0.05rem) 0 #526125;
  font-stretch: ultra-condensed;
  display: inline;
}

.play {
  display: none;
}

.lose {
  display: none;
  position: absolute;
  top: 2vh;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-family: 'Regular';
  font-weight: bold;
  color: #e8a668;
}

.win{
  display: none;
  position: absolute;
  top: 2vh;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-family: 'Regular';
  font-weight: bold;
  color: #e8a668;
}


.button {
  width: max(30vw, 23vh);
  height: max(10vw, 10vh);
  margin: 0 auto;
  position: relative;
  background-image: url(../resources/game/images/button.png);
  background-position: center;
  background-size: contain;
  background-clip: border-box;
  background-attachment: local;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0); 
  background-repeat: no-repeat;
  text-align: center;
  font-family: 'Regular';
  font-weight: bold;
  font-size: max(clamp(0.01vw,5rem,3vh), clamp(0.01vw,2.5rem,4vw));
  color: #e8a668;
}

.button:hover {
  background-image: url(../resources/game/images/button\ hover.png);
  color: #526125;

}

